body{
  font-family:Arial,sans-serif;
  text-align:center;
  margin-top:100px;
  background:#111;
  color:white;
}

button{
  padding:15px 30px;
  border:none;
  border-radius:10px;
  font-size:18px;
}
